
<div >

<div class="login-container">

    <div class="recover-password-content">
      <h1 class="title">RÉCUPÉRER MOT DE PASSE</h1>

      <p class="description">
        SI VOUS AVEZ OUBLIÉ VOTRE MOT DE PASSE, RENSEIGNEZ VOTRE TELEPHONE ET
        NOUS VOUS ENVERRONS UN SMS CONTENANT CODE DE VALIDATION POUR LE
        CONTINUER.
      </p>

      <div class="divider" *ngIf="otpVerified"></div>

      <!-- Initial state - Phone input -->
      <div *ngIf="!otpSent && !otpVerified">
        <div class="form-group">
          <label for="phone">Téléphone *</label>
          <input type="tel" id="phone" class="form-input" [(ngModel)]="phoneNumber" autocomplete="off">
        </div>

        <div class="button-group">
          <button class="send-code-button" (click)="sendOtp()">Envoyer un code</button>
        </div>
      </div>

      <!-- OTP verification state -->
      <div *ngIf="otpSent && !otpVerified">
        <div class="verification-section">
          <p class="verification-text">Entrez votre code de vérification ici</p>
          <input type="text" class="otp-input" [(ngModel)]="otpCode" autocomplete="off"> <!-- Lier à otpCode -->
          <button class="verify-button" (click)="forgotPassword()">Vérifier</button>
        </div>

        <div class="resend-info">
          <p>Vous pourrez renvoyer le code dans ({{countdown}} secondes)</p>
        </div>
      </div>

      <!-- Password reset state -->
      <div *ngIf="otpVerified">
        <div class="form-group">
            <label for="new-password">Code OTP </label>
            <input type="text" id="new-password" class="form-input" [(ngModel)]="otpCode" disabled="" autocomplete="off">
          </div>
        <div class="form-group">
          <label for="new-password">Nouveau mot de passe</label>
          <input type="password" id="new-password" class="form-input" [(ngModel)]="newPassword" placeholder="Nouveau mot de passe" autocomplete="off">
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirmer votre mot de passe</label>
          <input type="password" id="confirm-password" class="form-input" [(ngModel)]="confirmPassword" placeholder="Confirmer votre nouveau mot de passe" autocomplete="off">
        </div>

        <div class="button-group">
          <button class="continue-button active" (click)="resetPassword()">Reinitialiser</button>
        </div>
      </div>
    </div>
  </div>